{% extends 'shop/index.html' %}
{% block title %}Гараж - Доставка и оплата{% endblock %}
{% block content %}
{% load static %}

<div class="delivery_com">
    <h1>Доставка и оплата</h1>
    <h4>1. Оформление заказа</h4>
    <img src="{% static 'shop/image/oformlenie.jpeg' %}" alt="" width="1000" height="200" >
    <h4>2. Подтверждение заказа</h4>
    <img src="{% static 'shop/image/order_confirmation.jpeg' %}" alt="" width="1000" height="200" >
    <p>* Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке!
        Пожалуйста, внимательно проверяйте ваши персональные данные при регистрации и оформлении заказа.</p>
    <p>** Цены, указанные на сайте, являются окончательными и не требуют доплат при стандартных условиях поставки.
        Все налоги включены в стоимость товара. Внимание! Для каждого отдельного заказа возможен только один способ
        оплаты на ваш выбор. Оплата заказа по частям различными способами невозможна.</p>
    <h5>Возможные способы оплаты</h5>
    <div class="money">
        <img src="{% static 'shop/image/money.jpeg' %}" alt="" >
        <img src="{% static 'shop/image/carta.jpeg' %}" alt="" >
    </div>
    <p>Оплата производится наличными или картой курьеру при доставке или в магазине при самовывозе. Вместе с товаром передается
        товарный и кассовый чеки, а также гарантийный талон.</p>
    <h4>3. Доставка</h4>
    <h5>Стоимость доставки</h5>
    <p>Бесплатная доставка в пределах МКАД при заказе свыше 2000 рублей.</p>
    <h5>Время доставки</h5>
    <p>Время доставки согласовывается с менеджером Службы доставки, который обязательно свяжется с Вами, как только вы разместите свой заказ.</p>
    <h4>4. Правила возврата товара</h4>
    <p>При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем.</p>
    <ul>
        <li>Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей».</li>
        <li>Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;</li>
        <li>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;</li>
        <li>Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;</li>
        <li>При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования;</li>
    </ul>

</div>




{% endblock %}